In [45]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neural_network import MLPClassifier
import tensorflow as tf

In [46]:
data = pd.read_csv('Churn_Modelling.csv')
data

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [47]:
data.drop(['RowNumber', 'CustomerId'], axis=1, inplace=True)
data

,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [48]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Surname          10000 non-null  object
 1   CreditScore      10000 non-null  int64
 2   Geography        10000 non-null  object
 3   Gender           10000 non-null  object
 4   Age              10000 non-null  int64
 5   Tenure           10000 non-null  int64
 6   Balance          10000 non-null  float64
 7   NumOfProducts    10000 non-null  int64
 8   HasCrCard        10000 non-null  int64
 9   IsActiveMember   10000 non-null  int64
 10  EstimatedSalary  10000 non-null  float64
 11  Exited           10000 non-null  int64
dtypes: float64(2), int64(7), object(3)
memory usage: 937.6+ KB

In [49]:
X = data.iloc[:, 3:-1]
y = data.iloc[:, -1]

In [50]:
X

,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,Female,42,2,0.00,1,1,1,101348.88
1,Female,41,1,83807.86,1,0,1,112542.58
2,Female,42,8,159660.80,3,1,0,113931.57
3,Female,39,1,0.00,2,0,0,93826.63
4,Female,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...
9995,Male,39,5,0.00,2,1,0,96270.64
9996,Male,35,10,57369.61,1,1,1,101699.77
9997,Female,36,7,0.00,1,0,1,42085.58
9998,Male,42,3,75075.31,2,1,0,92888.52
9999,Female,28,4,130142.79,1,1,0,38190.78

In [51]:
y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [52]:
le = LabelEncoder()
X['Gender'] = le.fit_transform(X['Gender'])

In [53]:
X

,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,0,42,2,0.00,1,1,1,101348.88
1,0,41,1,83807.86,1,0,1,112542.58
2,0,42,8,159660.80,3,1,0,113931.57
3,0,39,1,0.00,2,0,0,93826.63
4,0,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...
9995,1,39,5,0.00,2,1,0,96270.64
9996,1,35,10,57369.61,1,1,1,101699.77
9997,0,36,7,0.00,1,0,1,42085.58
9998,1,42,3,75075.31,2,1,0,92888.52
9999,0,28,4,130142.79,1,1,0,38190.78

In [54]:
X

,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,0,42,2,0.00,1,1,1,101348.88
1,0,41,1,83807.86,1,0,1,112542.58
2,0,42,8,159660.80,3,1,0,113931.57
3,0,39,1,0.00,2,0,0,93826.63
4,0,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...
9995,1,39,5,0.00,2,1,0,96270.64
9996,1,35,10,57369.61,1,1,1,101699.77
9997,0,36,7,0.00,1,0,1,42085.58
9998,1,42,3,75075.31,2,1,0,92888.52
9999,0,28,4,130142.79,1,1,0,38190.78

In [55]:
y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [56]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [58]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [59]:
ann = tf.keras.models.Sequential()
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))
ann.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

In [60]:
ann.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])
ann.fit(X_train, y_train, batch_size=32, epochs=100)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.3230 - loss: 0.9668
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 758us/step - accuracy: 0.7026 - loss: 0.5905
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 900us/step - accuracy: 0.7918 - loss: 0.4880
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 716us/step - accuracy: 0.7964 - loss: 0.4594
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 710us/step - accuracy: 0.8032 - loss: 0.4428
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 765us/step - accuracy: 0.8228 - loss: 0.4190
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 902us/step - accuracy: 0.8225 - loss: 0.4151
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 922us/step - accuracy: 0.8297 - loss: 0.4117
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 996us/step - accuracy: 0.8352 - loss: 0.4028
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 867us/step - accuracy: 0.8393 - loss: 0.3921
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 847us/step - accuracy: 0.8431 - loss: 0.3822
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 772us/step - accuracy: 0.8426 - loss: 0.3848
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 716us/step - accuracy: 0.8410 - loss: 0.3885
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 748us/step - accuracy: 0.8496 - loss: 0.3673
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 730us/step - accuracy: 0.8472 - loss: 0.3649
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 761us/step - accuracy: 0.8455 - loss: 0.3730
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 716us/step - accuracy: 0.8493 - loss: 0.3694
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 746us/step - accuracy: 0.8524 - loss: 0.3691
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 714us/step - accuracy: 0.8512 - loss: 0.3658
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 722us/step - accuracy: 0.8540 - loss: 0.3588
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 724us/step - accuracy: 0.8506 - loss: 0.3668
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 688us/step - accuracy: 0.8540 - loss: 0.3526
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 689us/step - accuracy: 0.8507 - loss: 0.3643
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 848us/step - accuracy: 0.8426 - loss: 0.3716
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 737us/step - accuracy: 0.8563 - loss: 0.3566
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 743us/step - accuracy: 0.8471 - loss: 0.3586
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 700us/step - accuracy: 0.8575 - loss: 0.3514
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 741us/step - accuracy: 0.8517 - loss: 0.3546
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8548 - loss: 0.3638
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 808us/step - accuracy: 0.8545 - loss: 0.3528
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 756us/step - accuracy: 0.8586 - loss: 0.3508
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 916us/step - accuracy: 0.8532 - loss: 0.3610
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8592 - loss: 0.3469
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 768us/step - accuracy: 0.8567 - loss: 0.3523
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 731us/step - accuracy: 0.8563 - loss: 0.3521
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 706us/step - accuracy: 0.8554 - loss: 0.3604
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 739us/step - accuracy: 0.8508 - loss: 0.3560
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 695us/step - accuracy: 0.8569 - loss: 0.3466
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 733us/step - accuracy: 0.8628 - loss: 0.3443
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 711us/step - accuracy: 0.8637 - loss: 0.3474
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 709us/step - accuracy: 0.8551 - loss: 0.3540
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 729us/step - accuracy: 0.8568 - loss: 0.3587
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 695us/step - accuracy: 0.8519 - loss: 0.3523
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 709us/step - accuracy: 0.8489 - loss: 0.3600
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 716us/step - accuracy: 0.8553 - loss: 0.3526
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 711us/step - accuracy: 0.8475 - loss: 0.3609
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 717us/step - accuracy: 0.8544 - loss: 0.3564
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 687us/step - accuracy: 0.8584 - loss: 0.3389
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 711us/step - accuracy: 0.8596 - loss: 0.3449
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 707us/step - accuracy: 0.8653 - loss: 0.3436
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 728us/step - accuracy: 0.8554 - loss: 0.3532
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 755us/step - accuracy: 0.8572 - loss: 0.3525
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 735us/step - accuracy: 0.8547 - loss: 0.3593
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 740us/step - accuracy: 0.8499 - loss: 0.3627
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8462 - loss: 0.3635
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 716us/step - accuracy: 0.8594 - loss: 0.3437
Epoch 57/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 742us/step - accuracy: 0.8564 - loss: 0.3497
Epoch 58/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 761us/step - accuracy: 0.8472 - loss: 0.3594
Epoch 59/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 935us/step - accuracy: 0.8554 - loss: 0.3512
Epoch 60/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 695us/step - accuracy: 0.8534 - loss: 0.3524
Epoch 61/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 705us/step - accuracy: 0.8589 - loss: 0.3498
Epoch 62/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 699us/step - accuracy: 0.8565 - loss: 0.3511
Epoch 63/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 717us/step - accuracy: 0.8467 - loss: 0.3641
Epoch 64/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 714us/step - accuracy: 0.8603 - loss: 0.3390
Epoch 65/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 732us/step - accuracy: 0.8566 - loss: 0.3459
Epoch 66/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 714us/step - accuracy: 0.8536 - loss: 0.3504
Epoch 67/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 808us/step - accuracy: 0.8533 - loss: 0.3497
Epoch 68/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 721us/step - accuracy: 0.8506 - loss: 0.3595
Epoch 69/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 722us/step - accuracy: 0.8531 - loss: 0.3549
Epoch 70/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 707us/step - accuracy: 0.8615 - loss: 0.3371
Epoch 71/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 764us/step - accuracy: 0.8544 - loss: 0.3550
Epoch 72/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 776us/step - accuracy: 0.8466 - loss: 0.3579
Epoch 73/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 773us/step - accuracy: 0.8518 - loss: 0.3561
Epoch 74/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 788us/step - accuracy: 0.8583 - loss: 0.3501
Epoch 75/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 823us/step - accuracy: 0.8636 - loss: 0.3368
Epoch 76/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 774us/step - accuracy: 0.8547 - loss: 0.3514
Epoch 77/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 763us/step - accuracy: 0.8569 - loss: 0.3465
Epoch 78/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8495 - loss: 0.3661
Epoch 79/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8532 - loss: 0.3593
Epoch 80/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8528 - loss: 0.3522
Epoch 81/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8553 - loss: 0.3515
Epoch 82/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 830us/step - accuracy: 0.8618 - loss: 0.3492
Epoch 83/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 863us/step - accuracy: 0.8604 - loss: 0.3463
Epoch 84/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8617 - loss: 0.3453
Epoch 85/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 970us/step - accuracy: 0.8577 - loss: 0.3501
Epoch 86/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 844us/step - accuracy: 0.8608 - loss: 0.3488
Epoch 87/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 992us/step - accuracy: 0.8531 - loss: 0.3496
Epoch 88/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 706us/step - accuracy: 0.8597 - loss: 0.3480
Epoch 89/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 722us/step - accuracy: 0.8554 - loss: 0.3517
Epoch 90/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 751us/step - accuracy: 0.8549 - loss: 0.3529
Epoch 91/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 744us/step - accuracy: 0.8535 - loss: 0.3571
Epoch 92/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 985us/step - accuracy: 0.8575 - loss: 0.3461
Epoch 93/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 886us/step - accuracy: 0.8530 - loss: 0.3612
Epoch 94/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 820us/step - accuracy: 0.8638 - loss: 0.3380
Epoch 95/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 738us/step - accuracy: 0.8553 - loss: 0.3493
Epoch 96/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 772us/step - accuracy: 0.8532 - loss: 0.3543
Epoch 97/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 789us/step - accuracy: 0.8546 - loss: 0.3511
Epoch 98/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 708us/step - accuracy: 0.8600 - loss: 0.3452
Epoch 99/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 798us/step - accuracy: 0.8537 - loss: 0.3468
Epoch 100/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 804us/step - accuracy: 0.8546 - loss: 0.3558